################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MIST353GroupProjectFranticFroggyFirms/.vs/MIST353GroupProjectFranticFroggyFirms/FileContentIndex
