@page
@model TravelSiteApplication.Pages.ClimatePageModel
@{
    ViewData["Title"] = "Climate";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body class="bg-light">
    <h1 class="h1" style="text-align:center; font-size:280%">Your Destination's Climate</h1>
    <div id="weatherData"></div>

    <script src="js/site.js"></script>
    
</body>
</html>







