@page
@model TravelSiteApplication.Pages.ClimatePageModel
@{
    ViewData["Title"] = "Climate";
}
<body class="bg-light">
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="TravelSiteApplication.styles.css" asp-append-version="true" />


<h1 class="h1" style="text-align:center; font-size:280%">Your Destination's Climate</h1>

















<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>



</body>