@page
@model TravelSiteApplication.Pages.ClimatePageModel
@{
    ViewData["Title"] = "Climate";
}

<h1 class="h1" style="text-align:center; font-size:280%"><b>Climate Forcast</b></h1>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weather Information</title>
<style>
    .container {
        border: 2px solid blue;
        padding: 20px;
        width: 300px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
</style>


    <div class="container">
        <h2>Weather Information</h2>
       <div id="weatherData"></div>
       <!---Must have div to hold information --->
    </div>

    <!--- Must call function --->
    <script type="module">
    getWeatherForecast();
    </script>


 

  
    








