@page
@model TravelSiteApplication.Pages.HotelInfoModel
@{
    var CheckIn = HttpContext.Request.Query["StartDate"];
    var CheckOut = HttpContext.Request.Query["EndDate"];

}
<body class="bg-light" >
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="TravelSiteApplication.styles.css" asp-append-version="true" />

<h1 class="h1" style="text-align:center; font-size:280%"><b>Hotel Information</b></h1>
<!--this is where the search page will bring u too
 some basic info about the hotel will go here -->

<div class="hoteldetailscontainer">
    <table class="table">
        <h2 class="h2" style="font-size:220%; "> <b>Hotel Details: </b></h2>
    <div class="hotel-detail">
            <label style="font-size:145%">Name:</label>
        
    </div>
    <div class="hotel-detail">
            <label style="font-size:145%">Address: </label>
        
    </div>
    <div class="hotel-detail">
            <label style="font-size:145%">Phone: </label>
       
    </div>
    <div class="hotel-detail">
            <label style="font-size:145%">Email: </label>
        
    </div>
    <div class="hotel-detail">
        <label style="font-size:145%">Hotel Type: </label>
        
    </div>
    </table>
</div>

<br style="margin-bottom: 70px;">

<!-- allows u to check room availability by check in and check out date -->

<script type="module">
    displayRoomAvailResults(@CheckIn, @CheckOut);
</script>
<body>
<form id="roomAvailForm" action="/searchResults">
    <i class="fa-solid fa-location-arrow"></i>
        <h2 class ="h2" style="font-size:220%; "> <b>Room Availability</b></h2>
        <label for="startDateInp" class="form-label" style="font-size:180%">Start Date</label>
    <input type="date" id="startDateInp" name="checkIn" />
        <label for="endDateInp" class="form-label" style="font-size:180%">End Date</label>
    <input type="date" id="endDateInp" name="checkOut" />
    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
</form>

<div id="roomAvailabilityResults"></div>
<div id="results">
</div>
</body>


<!-- button to bring to ratings/review page -->
<br style="margin-bottom: 50px;">


<a href="/RatingPage?hotelid=@Model" class="btn btn-secondary">View Ratings & Reviews</a>


</body>



