@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body class="bg-light">
<div class="text-center">
    <h1 class="display-4">Travel Planner</h1>
</div>
    <img src="world.jpg">

    <div class="button-container">
        <a href="~/SearchPage" class="btn btn-primary">Go to Search Page</a>
        <a href="~/Destinations" class="btn btn-primary">Go to Destination Page</a>
        <a href="~/ClimatePage" class="btn btn-primary">Go to Climate Page</a>
        <a href="~/HotelInfo" class="btn btn-primary">Go to Hotel Information Page</a>
    </div>
</body>





