@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body class="bg-light">
<div class="text-center">
    <h1 class="display-4">Travel Planner</h1>
</div>

<div>
        <a href="~/SearchPage" class="btn btn-primary">Go to Search Page</a>
    <p >By clicking on the button will bring you to a search page to get started planning!</p>
</div>

<div>
    <a href="~/Destinations" class="btn btn-primary">Go to Destination Page</a>
    <p> By clicking on the destination button, it will bring you to a page where you can look at the top travel destination to sparke ideas of where to head to next!</p>    
</div>

<div>
        <a href="~/ClimatePage" class="btn btn-primary">Go to Climate Page</a>

    </div>
</body>





