@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!----home page: button to destination page, button to search page>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <div>
        <a href="~/Destinations" class="btn btn-primary">Go to Destination Page</a>
        <a href="~/SearchPage" class="btn btn-secondary">Go to Search Page</a>
    </div>
    
</div>
