@page
@model TravelSiteApplication.Pages.RatingPageModel
@{
}
<body class="bg-light">
<h1 class="h1" style="text-align:center; font-size:280%">Ratings and Reviews</h1>
<h2 class="h2" style="font-size:280%">Hotel: </h2>
<table></table>
















</body>